<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang=”ru”>
<head>
    <meta http-equiv="Cache-Control" content="no-cache">
    
    {% load staticfiles my_tags %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
    </script>

<!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    

    <!-- Bootstrap-table -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

    <!-- Bootstrap-table -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Bootstrap-table -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-ru-RU.min.js"></script>


    <script type="text/javascript" src="{% static "/js/doc_form.js" %}"></script>
    <script type="text/javascript" src="{% static "/custom/js/doc_form.js" %}"></script>
    <link href="{% static "/css/common.css" %}" rel="stylesheet"/>
    <link href="{% static "/custom/css/common.css" %}" rel="stylesheet"/>



    <script type="text/javascript" src="{% static "/js/selectize.js" %}"></script>
    <script type="text/javascript" src="{% static "/custom/js/selectize.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "/css/selectize.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "/custom/css/selectize.css" %}"/>

    <link rel="stylesheet" type="text/css" href="{% static "/css/selectize.bootstrap3.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "/custom/css/selectize.bootstrap3.css" %}"/>

    <script type="text/javascript" src="{% static "/js/my_selectize.js" %}"></script>
    <script type="text/javascript" src="{% static "/custom/js/my_selectize.js" %}"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">

    <div class="btn-group">
         <button type="button" id="menu_service" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Сервис
        </button>
        <div class="dropdown-menu" aria-labelledby="menu_service">
            <a class="dropdown-item "href="/main/">Главная</a>
            <a class="dropdown-item "href="/admin/">Admin</a>
            <a class="dropdown-item" href="/upload_file/">Импорт</a>
        </div>
    </div>

    <div class="btn-group">   
        <button type="button" id="menu_docs" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Документы
        </button>
        <div class="dropdown-menu" aria-labelledby="menu_docs">
            <a class="dropdown-item" href="/doc/income/">Оприходование</a>
            <a class="dropdown-item" href="/doc/move/">Перемещение</a>
            <a class="dropdown-item" href="/doc/writeoff/">Списание</a>
            <a class="dropdown-item" href="/doc/inventory/">Инвентаризация</a>
        </div>
    </div>

    <div class="btn-group">   
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Справочники
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/catlg/device/">Устройства</a>
            <a class="dropdown-item" href="/catlg/devicetype/">Типы устройств</a>
            <a class="dropdown-item" href="/catlg/nomenclature/">Номенклатура</a>
            <a class="dropdown-item" href="/catlg/department/">Подразделения</a>
            <a class="dropdown-item" href="/catlg/stock/">Склады</a>
            <a class="dropdown-item" href="/catlg/person/">Сотрудники</a>
        </div>
    </div>
    
    <div class="btn-group">   
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Отчеты
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/report/current_location/">Местоположение на дату</a>
            <a class="dropdown-item" href="/report/statement_docs/">Ведомость</a>

        </div>
    </div>



        
        <hr>
    	{% block content %}{% load staticfiles my_tags %}{% endblock %}
    	{% block footer %}
    	<p></p>
    	{% endblock %}
    </div>
</body>
</html>