{% extends "base.html" %}
{% block title %}Оприходование{% endblock %}
{% block content %}
	<h1>Оприходование</h1>
	<form action="" method="post">
		{% csrf_token %}	
		{{ form.as_table }}
		<br>
		{{ formset.managment_form }}
		<table border="1">
			{% for form_rec in formset %}
				{% if forloop.first %}
					<th>{{ form_rec.device.label }}</th>
					<th>{{ form_rec.person.label }}</th>
					<th>{{ form_rec.qty.label }}</th>
					<th>{{ form_rec.comment.label }}</th>
				{% endif %}
				<tr>
					<td>{{ form_rec.device }}</td>
					<td>{{ form_rec.person }}</td>
					<td>{{ form_rec.qty }}</td>
					<td>{{ form_rec.comment }}</td>
				</tr>
			 
		{% endfor %}
		</table>
	</form>	

{% endblock %}
