{% extends "base.html" %}
{% block title %}Перемещения{% endblock %}
{% block content %}
	<h1>Перемещения</h1>

	{% for doc in doc_list %}
		{% if forloop.first %}
			<table border="1">	
				<tr>
					<th>Дата</th>
					<th>Номер</th>
					<th>Проведен</th>
					<th>Подразделение отправитель</th>
					<th>Подразделение получатель</th>
					<th>Склад отправитель</th>
					<th>Склад получатель</th>
				</tr>	
		{% endif %}
		
		<tr>
			<td>{{ doc.doc_date|date:"d.m.Y H:i:s" }}</td>
			<td><a href="/doc/move/{{ doc.id }}"> {{ doc.doc_num }} </a></td>
			<td>{% if doc.active %}
					Да
				{% else %}
					Нет
				{% endif %}
			</td>
			<td>{{ doc.department_from }}</td>
			<td>{{ doc.department_to }}</td>
			<td>{% if doc.stock_from %}
					{{ doc.stock_from }}
				{% endif %}
			</td>
			<td>{% if doc.stock_to %}
					{{ doc.stock_to }}
				{% endif %}
			</td>
		</tr>
		
		{% if forloop.last %}
			</table>			
		{% endif %}

	{% endfor %}
{% endblock %}
