{% extends "base.html" %}
{% block title %}Движение документа {{ doc }} по регистрам{% endblock %}
{% block content %}
	<p>Движение документа <a href="{{ request.META.HTTP_REFERER }}">{{ doc }}</a> по регистрам:</p>
	<br>
	{% for reg, recs in reg_recs.items %}
	       	<p>Регистр {{ reg }}</p>
			<table 
				data-toggle="table"
			 	data-search="true"
			 	data-filter-control="true" 
			 	data-show-export="true"
			 	data-click-to-select="true"
			 	data-toolbar="#toolbar"
			 	class="table table-hover">	
				<thead>	
				<tr>
					<th data-sortable="true">Операция</th>
					<th data-sortable="true">Документ-основание</th>
					<th data-sortable="true">Дата</th>
					<th data-sortable="true">Устройство</th>
					<th data-sortable="true">Подразделение</th>
					<th data-sortable="true">Склад</th>
					<th data-sortable="true">Сотрудник</th>
					<th data-sortable="true">Количество</th>
				</tr>	
				</thead>
			{% for rec in recs %}
				<tr>
					<td>{{ rec.operation_type }}</td>
					<td>{{ rec.base_doc }}</td>
					<td>{{ rec.reg_date|date:"d.m.Y H:i:s" }}</td>
					<td>{{ rec.device }}</td>
					<td>{{ rec.department }}</td>
					<td>{% if not rec.stock %}
						{% else %}
							{{ rec.stock }}
						{% endif %}
					</td>
					<td>{% if not rec.person %}
						{% else %}
							{{ rec.person }}
						{% endif %}	
					</td>
					<td>{{ rec.qty }}</td>
				</tr>
			{% endfor %}
		{% if forloop.last %}
			</table>			
		{% endif %}

	{% endfor %}
{% endblock %}
