{% extends "base.html" %}
{% block title %}Номенклатура{% endblock %}
{% block content %}
	<h1>Номенклатура</h1>
	<br>

	<form action="" method="post">
		{% csrf_token %}
		<a class="btn btn-primary" href="{{ request.path }}new">Новый</a>
		<input type="submit" class="btn btn-primary" name="delete" value="Удалить">
		<br>
		<input type="checkbox" name="set" onclick="checkboxes_sel_all(this)"> Выделить/снять все
	
	{% for catlg in catlg_list %}
		{% if forloop.first %}
			<table 
				data-toggle="table"
			 	data-search="true"
			 	data-filter-control="true" 
			 	data-show-export="true"
			 	data-click-to-select="true"
			 	data-toolbar="#toolbar"
			 	class="table table-hover">	
				<thead>	
				<tr>
					<th data-width="50">Удалить</th>
					<th>Наименование</th>
				</tr>
				</thead>	
		{% endif %}
		
		<tr>
			<td><input type="checkbox" name="catlg_id_{{ catlg.id }}"></td>
			<td data-sortable="true"><a href="/catlg/nomenclature/{{ catlg.id }}"> {{ catlg.name }} </a></td>
		</tr>
		
		{% if forloop.last %}
			</table>			
		{% endif %}

	{% endfor %}
</form>
{% endblock %}
