{% extends "base.html" %}
{% block title %}Номенклатура{% endblock %}
{% block content %}
	<h1>Номенклатура</h1>
	<br>

	<form action="" method="post">
		{% csrf_token %}
		<a class="btn btn-primary" href="{{ request.path }}new">Новый</a>
		<input type="submit" class="btn btn-primary" name="delete" value="Удалить">
		<br>
		<input type="checkbox" name="set" onclick="checkboxes_sel_all(this)"> Выделить/снять все
	
	{% for catlg in catlg_list %}
		{% if forloop.first %}
			<table border="1">	
				<tr>
					<th>Удалить</th>
					<th>Наименование</th>
				</tr>	
		{% endif %}
		
		<tr>
			<td><input type="checkbox" name="catlg_id_{{ catlg.id }}"></td>
			<td><a href="/catlg/nomenclature/{{ catlg.id }}"> {{ catlg.name }} </a></td>
		</tr>
		
		{% if forloop.last %}
			</table>			
		{% endif %}

	{% endfor %}
</form>
{% endblock %}
