{% extends "base.html" %}
{% block title %}Устройства{% endblock %}
{% block content %}
	<h1>Устройства</h1>
	<br>

	<form action="" method="post">
		{% csrf_token %}
		<a class="btn btn-primary" href="{{ request.path }}new">Новый</a>
		<input type="submit" class="btn btn-primary" name="delete" value="Удалить">
	
	{% for catlg in catlg_list %}
		{% if forloop.first %}
			<table border="1">	
				<tr>
					<th>Удалить</th>
					<th>Тип</th>
					<th>Наименование</th>
					<th>Серийный номер</th>
					<th>Инвентарный номер</th>
					<th>Комментарий</th>
				</tr>	
		{% endif %}
		
		<tr>
			<td><input type="checkbox" name="catlg_id_{{ catlg.id }}"></td>
			<td>{{ catlg.device_type }}</td>
			<td><a href="/catlg/device/{{ catlg.id }}"> {{ catlg.name }} </a></td>
			<td>{{ catlg.serial_num }}</td>
			<td>{{ catlg.inv_num }}</td>
			<td>{{ catlg.comment }}</td>
		</tr>
		
		{% if forloop.last %}
			</table>			
		{% endif %}

	{% endfor %}
</form>
{% endblock %}
